SUPABASE_URL=
SUPABASE_KEY=


# Datos para iniciar sesion en DEMO

Demo=https://ong-kassumay-799w.vercel.app/

Usuario_USER=user@ong.org
Usuario_USER_PASSWORD=123456

Usuario_ADMIN=admin@ong.org
Usuario_ADMIN_PASSWORD=123456